body{
    font-size: large;
    text-align: center;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}
p{
    color: rgb(4, 7, 7);
    border-color: orangered; 
    text-align: center;
    background-color: white;

}
h1{
    color: rgb(255, 68, 0);
    text-align: center;
}
h2{
    color: rgb(12, 12, 12);
    text-align: left;
}
.img-goldbanner{
    width: 1300px;
    height: 500px;
}
.img-jhumka{
    background-color: brown;
    padding: 5px;
    margin: 5px;
    border: 5px;
    width: 200px;
    height: auto;
}
.img-necklace{
    background-color: brown;
    padding: 5px;
    margin: 5px;
    border: 5px;width: 200px;
    height: auto;
}
.img-bangles{
    background-color: brown;
    padding: 5px;
    margin: 5px;
    border: 5px;width: 200px;
    height: auto;  
}
.img-braclets{
    background-color: brown;
    padding: 5px;
    margin: 5px;
    border: 5px;width: 200px;
    height: auto;    
}
.img-rings{
    background-color: brown;
    padding: 5px;
    margin: 5px;
    border: 5px; width: 200px;
    height: auto;  
}
li{
    text-align: left;
}
.footer{
    background-color: azure;
    border-color: black;
    width: 1350px;
    height: auto;
}